/* Estilo predeterminado del botón */
.leaflet-touch .leaflet-bar button.easy-button-button[title="Recoleccion de Residuos"] {
    background-color: aqua !important;
    color: black !important;
}
.leaflet-top:nth-child(1){
	
	z-index: 1600;
}
#sidebar{
z-index: 1700;	
}

#sidebar1{
z-index: 1700;	
}



.leaflet-touch .leaflet-bar button.easy-button-button[title="Cuidado Animal"] {
    background-color: aqua !important;
    color: black !important;
}
body {
    background-color: #0f6cbf;
}

/* style.css */
.easy-button {
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, box-shadow 0.3s;
	padding:5px;
	margin:5px;
}

.easy-button:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.easy-button i {
    font-size: 18px;
}

